{% extends 'base.html' %}


{% block content %}
<div class="container">

  <div class="row" style="background-color: white; margin-top: 50px; width: 450px;">
    {% for item in cart.furniture_item.all %}
      <div class="col s6 m6 l3">
            <p>{{ item.name }}</p>
            <!-- <p>{{ item.description }}</p> -->
            <p>${{ item.price }} x {{ item.quantity }} </p>
            <form action="{% url 'disassoc_item' cart.id item.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Remove</button>
            </form>
          {% endfor %}
        
        <p>Total Price: {{ total_price }}</p>
      </div>


  </div>

{% endblock %}
    















